# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled files and build
dist/
build/
tmp/
temp/
*.tsbuildinfo

# TypeScript
*.d.ts
tsconfig.tsbuildinfo

# VSCode
.vscode/

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
coverage/
.nyc_output/
.idea/
.cache/
.next/
out/
