# Ignorar a pasta node_modules
node_modules/

# Ignorar a pasta do Visual Studio Code
.vscode/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de ambiente
.env

# Ignorar a pasta dist (ou build)
dist/
build/

# Ignorar cache do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de backup do editor
*~
.vercel
